<!DOCTYPE html>
<html>
  <head>
    <title>amaysim</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
  <div class="menu">
    <div class="activate_sim">Activate sim</div>
    <div class="login">Login</div>
  </div>
  <%= render 'layouts/nav' %>
  <div class="jumbotron">
    <h1 class="display-3">win a Google Home, Chromecast Ultra and a year of nbn™</h1>
    <p class="lead">Sign up to any nbn plan before 31 August to go into the draw. Plans start from $40 a month.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="terms-condtions_apply">
      <a href="//www.amaysim.com.au/terms-policies/competitions-promos" target="_blank">T&amp;Cs apply</a>
    </p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">sign up</a>
    </p>
  </div>
  <div class="flex-grid__full-col reusable-type--icon-row-group paragraph paragraph--type--reusable-content paragraph--view-mode--default"><article class="icon-row-group flex-grid icon-row__grid icon-row__grid--3-col"><div class="icon-row icon-row--default icon-row--no-borders icon-row__grid__col"><div class="icon-row__icon"><img src="/sites/default/files/2017-04/lock_dash_mint.svg" alt="" typeof="foaf:Image"></div><div class="icon-row__content"><h3 class="icon-row__title">
                            no lock-in contracts
                    </h3><p>Freedom to switch your plan or cancel at anytime.</p></div></div><div class="icon-row icon-row--default icon-row--no-borders icon-row__grid__col"><div class="icon-row__icon"><img src="/sites/default/files/2017-04/join_dash_mint.svg" alt="" typeof="foaf:Image"></div><div class="icon-row__content"><h3 class="icon-row__title">
                            simple to join
                    </h3><p>Quick and easy online sign-up, we’ll take care of all the fiddly bits.</p></div></div><div class="icon-row icon-row--default icon-row--no-borders icon-row__grid__col"><div class="icon-row__icon"><img src="/sites/default/files/2017-04/app_dash_mint.svg" alt="" typeof="foaf:Image"></div><div class="icon-row__content"><h3 class="icon-row__title">
                            easy to manage
                    </h3><p><a href="//www.amaysim.com.au/about/get-the-app">Download our app</a> or manage your plans online.</p></div></div></article></div>
  <body>


<!-- <%= yield %> -->
  </body>
</html>
